<div class="container">
    <div class="row">
        <div class="company col-md-4">
            <div class="header">OUR COMPANY</div>
            <ul>
                <li>About FedEx</li>
                <li>Our Portfolio</li>
                <li>Careers</li>
                <li>FedEx Blog</li>
                <li>Newsroom</li>
            </ul>
        </div>
        <div class="more col-md-4">
            <div class="header">MORE FROM FEDEX</div>
            <ul>
                <li>FedEx Compatible</li>
                <li>Developer Resource Center</li>
                <li>FedEx Logistics</li>
            </ul>
        </div>
        <div class="support col-md-4">
            <div class="header">SUPPORT</div>
            <ul>
                <li>Frequently Asked Questions</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>
