<div class="carousel-container">
  <ngb-carousel interval="5000">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/img-12.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Lets Build The Future Of <span class="purple">Shipping Together</span></h3>
        <button type="button" class="btn btn-fedex">Get Started</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/img-19.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Together We Can Create Remarkable <span class="purple">Customer Experiences</span></h3>
        <button type="button" class="btn btn-fedex">Get Started</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/img-18.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Shipping Happiness <span class="purple">Around The Globe</span></h3>
        <button type="button" class="btn btn-fedex">Get Started</button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>